<p>555-123-CATS</p>

<p>You call that number and you rent a cat.</p>

<p>I have taken out the output handlebars code, does that break anything? Not visibly. </p>

{{#link-to "about"}}Click here to learn about cat rentals.{{/link-to}}
